<div id="controller-wrapper" ng-controller="members">
	<section id="loading-screen" ng-if="loading">
		<div class="spinner-container">
			<span><i class="fas fa-spinner-third fa-spin"></i>&ensp;[[loadingHint]]...</span>
		</div>
	</section>
	<div class="sidebar">
		<h3><i class="far fa-gamepad-modern"></i>&ensp;iCafePlay Panel</h3>
		<ul>
			<li ng-repeat="menu in menus" ng-show="menu.is_ready == owner.is_ready || menu.visible"><a href="#![[menu.route]]" ng-class="{'active-menu': menu.controller == controllerName}"><i class="[[menu.icon]]"></i>[[menu.name]]</a></li>
		</ul>
	</div>
	<div class="content">
		<nav>
			<h3><i class="fas fa-users"></i>&ensp;Members</h3>
			<div class="trailing">
				<span><i class="far fa-user"></i>&emsp;[[owner.name]]</span>
				<button ng-click="logout(owner)"><i class="far fa-power-off"></i>&emsp;Logout</button>
			</div>
		</nav>
		<section>
			<div class="meta-title">
				<h3>List of active members</h3>
			</div>
			<table>
				<tr>
					<th width="200">ID</th>
					<th width="200">Account</th>
					<th width="200">User</th>
					<th width="200">Email</th>
					<th width="200">Linked at</th>
				</tr>
				<tr ng-repeat="member in members">
					<td>[[member.member_id]]</td>
					<td>[[member.account]]</td>
					<td>[[member.user.name]]</td>
					<td>[[member.user.email]]</td>
					<td>[[mutateDate(mutateTimestamp(member.linked_at))]]</td>
				</tr>
			</table>
		</section>
	</div>
</div>